# built files
dist/

# extracted geo db files
api/assets/geolite/

# production env
.env.production

# local env files
.env.local
.env.*.local

# system
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# npm files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
