.not-found {
  margin: $space-lg;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    margin-top: $space-lg;
    font-size: $font-size-xl;
    font-weight: 500;
  }

  a {
    margin: $space-base 0;
  }
}
