.navbar {
  background-color: var(--color-bg);
  height: $navbar-height;
  box-shadow: var(--shadow);

  .container {
    display: flex;
    height: $navbar-height;
    line-height: $navbar-height;
  }

  .navbar-item {
    display: block;
    padding: 0 $space-sm;

    &:hover {
      background-color: var(--color-hover);
    }

    &.router-link-exact-active {
      color: var(--color-primary);
    }
  }

  .navbar-brand {
    flex: 0 0 auto;
    font-size: $font-size-md;

    .navbar-item {
      padding: 0 $space-base;

      &.router-link-exact-active {
        color: var(--color-font);
      }
    }
  }

  .navbar-menu {
    flex: 1 1 auto;
    display: flex;
  }

  .navbar-start {
    flex: 1 1 auto;
    display: flex;
  }

  .navbar-end {
    flex: 0 0 auto;
  }

  @media screen and (max-width: $responsive-tablet + $responsive-offset) {
    height: $navbar-height-sm * 2;
  }
}
