.g-button {
  color: var(--color-font);
  background-color: transparent;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }

  &.g-button-primary {
    display: inline-block;
    border-radius: $radius;
    height: $button-height;
    line-height: $button-height;
    padding: 0 $space-base;
  }
  &.g-button-full-width {
    display: block;
    width: 100%;
    height: $button-height;
    line-height: $button-height;
  }
  &.g-button-full-height {
    display: inline-block;
    height: 100%;
    padding: 0 $space-base;
  }

  &.g-button-active {
    color: var(--color-primary);
  }
  &.g-button-disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
  }
}
