.g-button {
  color: var(--color-font);
  background-color: transparent;
  text-align: center;
  user-select: none;

  /* icon support */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }

  &.g-button-primary {
    display: inline-flex;
    border-radius: $radius;
    height: $button-height;
    line-height: $button-height;
    padding: 0 $space-base;
  }
  &.g-button-full-width {
    display: flex;
    width: 100%;
    height: $button-height;
    line-height: $button-height;
  }
  &.g-button-full-height {
    display: inline-flex;
    height: 100%;
    padding: 0 $space-base;
  }

  &.g-button-active {
    color: var(--color-primary);
  }
  &.g-button-disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
  }
}
