.g-container {
  width: $responsive-desktop;
  margin: 0 auto;

  @media screen and (max-width: $responsive-desktop + $responsive-offset) {
    width: $responsive-tablet;
  }

  @media screen and (max-width: $responsive-tablet) {
    width: 100%;
  }
}

.g-icon {
  max-width: 1.125rem;
  max-height: 1.125rem;
  line-height: 1.125rem;
  opacity: 0.9;
  fill: currentColor;
}
