$font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-mono: 'Fira Code', monospace;

$font-size-base: 16px;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.375rem;

$space-base: 1.5rem;
$space-sm: 1rem;

$navbar-height: 3.25rem;
$navbar-height-sm: 2.5rem;

$radius: 3px;

$responsive-offset: 16px * 4;
$responsive-desktop: 1080px;
$responsive-tablet: 800px;
$responsive-mobile: 540px;
